<meta charset="utf-8" />
<meta property="og:url" content="https://superminecraftservers.com" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Super Minecraft Servers" />
<meta property="og:image" content="https://superminecraftservers.com/assets/images/promo-card.jpg" />
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="superminecraftservers.com" />
<meta property="twitter:url" content="https://superminecraftservers.com" />
<meta name="twitter:title" content="Super Minecraft Servers" />
<meta name="twitter:image" content="https://superminecraftservers.com/assets/images/promo-card.jpg" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png" />
<meta name="theme-color" content="#000000" />
<link rel="shortcut icon" href="/assets/images/favicon.ico" sizes="256x256" crossOrigin="anonymous" />
<link rel="stylesheet" href="/assets/css/main.css" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q8JNPWX7TH"></script>
<script async>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q8JNPWX7TH');
</script>
<script async>
  document.addEventListener("touchstart", function(){}, true);
</script>
